

@media (max-width: 1200px) {
    #app {
        grid-template-columns: 100%;
        grid-template-rows: 100vh;
        grid-template-areas:
          "chatlist";
        height: 100vh;
    }

    #app.chat_selected {
        grid-template-columns: 100%;
        grid-template-rows: 130px auto 120px;

        grid-template-areas:
            "chatinfo"
            "chat"
            "newmessage";
    }

    div#newcontact {
        display: none;
    }
    #app:not(.chat_selected) div#chat_info, #app:not(.chat_selected) div#chat, #app:not(.chat_selected) div#chat_input {
        display: none;
    }

    #app.chat_selected div#contacts {
        display: none;
    }

    #emojilist, #chat_info button {
        display:none;
    }

    #chat_info {
        padding:1px;
    }



}

